.scenarioFlow .react-flow__node {
  width: fit-content;
  min-width: 100px;
  max-width: 200px;
  border-radius: 3rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: #555;
  border: 3px solid #ddd;
  text-align: center;
  font-size: 1rem;
  background: #e6e6e9;
  border: 0.1rem solid #ddd;
}

.scenarioFlow .react-flow__edge-textbg {
  cursor: pointer;
}

.react-flow__node-custominput .react-flow__handle {
  background: #e6e6e9;
}

.scenarioFlow .react-flow__node-custominput {
  background: #fff;
}

.scenarioFlow .react-flow__handle {
  background-color: gray;
  width: 1.4rem;
  height: 1.4rem;
}

.scenarioFlow .react-flow__handle-connecting {
  background: #ff6060;
}

.scenarioFlow .react-flow__handle-valid {
  background: #55dd99;
}